<nav class="top persistent">
  <a href="https://slack.com/" class="logo" data-qa="logo"></a>
    <ul>
    <li><a  href="#" data-qa="product">Notice</a></li>  <!--공지사항-->
    <li><a  href="#" data-qa="pricing">Post</a></li>  <!--게시판-->
    <li><a  href="#" data-qa="blog">Scrum</a></li>    <!--스크럼 게시판-->
    <li><a  href="/home/chatting" data-qa="blog">Real-time Chat</a></li>    <!--채팅-->
    <li><a  href="/home/members" data-qa="support">Members</a></li>
    <% if user_signed_in? %>
      <li class="sign_out"><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
      <li class="sign_up"><a href="/users/sign_up" data-qa="sign_up">Sign up</a></li>
      <li class="sign_in"><a href="/users/sign_in" data-qa="sign_in">Sign in</a></li>
    <% end %>
  </ul>
</nav>


<div id="messages" style="overflow-y:scroll; overflow-x:hidden; height:700px; ">
    <% @chattings.each do |c| %>
      <div class="row" style="height:50px">
        <div class="col-md-1">
          <% if c.user.username == current_user.username %>
            <p style="text-align:center; font-weight:900; color:#47C83E"><%= c.user.username %></p>
          <% else %>
            <p style="text-align:center; font-weight:900; color:#6799FF"><%= c.user.username %></p>
          <% end %>
        </div>
        <div class="col-md-8">
          <p><%= c.content %></p>
        </div>
        <div class="col-md-3">
          <p><%=c.written_time %></p>
        </div>
      </div>  
    <% end %>
</div>

<input type="text" id="chat_content">
<button href="#" id="submit_chat" type="button" class="btn btn-info" style="width: 100%">전송</button>

<script>
$(function() {
    
    var objDiv = document.getElementById("messages");
    objDiv.scrollTop = objDiv.scrollHeight;

    var pusher = new Pusher('7094118b0d9572797b32', {
      encrypted: true
    });
    var channel = pusher.subscribe('chat_room');
    channel.bind('new_msg', function(data) {
      //alert(data.message);

      if(data.user_id == <%= current_user.id %>)
      {
        $("#messages").append("<div class='row' "+"style="+"'height:50px'>"+"<div class='"+"col-md-1'>"+"<p style='"+"text-align:center; font-weight:900; color:#47C83E'>"+data.username+"</p>"+"</div>"+"<div class='"+"col-md-8'>"+"<p>"+data.msg+"</p></div>"+"<div class='col-md-3'><p>"+data.time+"</p></div></div>");   
      }
      else
      {
        $("#messages").append("<div class='row' "+"style="+"'height:50px'>"+"<div class='"+"col-md-1'>"+"<p style='"+"text-align:center; font-weight:900; color:#6799FF'>"+data.username+"</p>"+"</div>"+"<div class='"+"col-md-8'>"+"<p>"+data.msg+"</p></div>"+"<div class='col-md-3'><p>"+data.time+"</p></div></div>");   
      } 
         

      // $("#messages").append("<p>" + data.username + " : " + data.msg + " ( " + data.time + " ) " + "</p>");
      $("#chat_content").val('');
      $("#chat_content").focus();
      objDiv.scrollTop = objDiv.scrollHeight;
    });
    
    $("#submit_chat").click(function(){
       $.ajax({
           data:
           {
               message: $("#chat_content").val()
           },
           method: "POST",
           url: "/home/write_chat",
           success: function()
           {
               // alert("hi");
           }
           
       });
    });
});
</script>